:root {
    --primary-color: #e67e22;
    --lighter-orange-background: #fdf2e9;
    --medium-light-orange: #fae5d3;
    --darker-orange-background: #cf711f;
    --white: #fff;
    --medium-grey: #333;
    --grey: #555;
    --lighter-gray: #ddd;
    --light-gray: #888;
    --vegetarian-tag-color: #51cf66; 
    --vegan-tag-color: #94d82d;
    --paleo-tag-color: #ffd43b;
    --md-gray: #6f6f6f;
}